@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Add these styles for the DateTimePicker */
.react-datetime-picker {
  @apply bg-[#2A2E39] text-gray-200;
}

.react-datetime-picker__wrapper {
  @apply border-gray-700 rounded-lg p-2;
}

.react-datetime-picker__inputGroup {
  @apply text-gray-200;
}

.react-calendar {
  @apply bg-[#2A2E39] text-gray-200 border-gray-700 rounded-lg;
}

.react-calendar__tile {
  @apply text-gray-200 hover:bg-gray-700;
}

.react-calendar__tile--active {
  @apply bg-blue-500 text-white;
}

.react-clock {
  @apply bg-[#2A2E39] text-gray-200;
}

/* SimpleBar custom styling */
.simplebar-scrollbar::before {
  background-color: #4b5563;
  opacity: 0.4;
  border-radius: 9999px;
  width: 5px;
  left: 2px;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 0.6;
}

.simplebar-track.simplebar-vertical {
  background-color: #1f2937;
  border-radius: 9999px;
  width: 9px;
  right: 2px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar {
  width: 5px;
  right: 2px;
}
